// STYLE FOR SLIDER JS
@mixin box-sizing {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}


// Style for Viewport
.sliderjs-viewport {
  overflow: hidden;
  position: relative;
  @include box-sizing;
}
.sliderjs-canvas {
  // overflow: hidden;
  margin: 0;
  padding: 0;
  @include box-sizing;
  > li {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    @include box-sizing;

    &.sliderjs-actived {
      position: static;
    }
  }
}
.sliderjs-nav {
  .sliderjs-prev, .sliderjs-next {
    cursor: pointer;
  }
}
.sliderjs-pag {
  > li {
    cursor: pointer;
  }
}
.sliderjs-overlay.sliderjs-actived {
  overflow: hidden;
  position: fixed;
  -webkit-overflow-scrolling: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0,0%,0%,0.2);
  z-index: 999999;
}